App2/.vs/App2/v14/.suo
App2/obj/
**/*.suo
App2/Debug
App2/bin
App1


#ignore thumbnails created by windows 
Thumbs.db 
#Ignore files build by Visual Studio 
*.obj 
*.exe 
*.pdb 
*.user 
*.aps 
*.pch 
*.vspscc 
*_i.c 
*_p.c 
*.ncb 
*.suo 
*.tlb 
*.tlh 
*.bak 
*.cache 
*.ilk 
*.log 
[Bb]in 
[Dd]ebug*/ 
*.lib 
*.sbr 
[Oo]bj/ 
[Rr]elease*/ 
_ReSharper*/ 
[Tt]est[Rr]esult* 
OnlineSignup/obj/